Repository monkpit/karimono: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run codegen:changes

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "tests/resources/opcodes.json": ["npm run codegen:changes"],
  "scripts/codegen/**/*.ts": ["eslint --fix", "prettier --write", "npm run codegen:changes"],
  "src/emulator/cpu/CPU.ts": ["eslint --fix", "prettier --write", "npm run codegen:changes"],
  "src/emulator/types.ts": ["eslint --fix", "prettier --write", "npm run codegen:changes"],
  "src/emulator/cpu/generated/**/*.ts": []
}

Fix test suite quality issues and implement clean automation
  .cache/codegen/file-hashes.json
  .github/CODEOWNERS
  .github/QUALITY_GATES_IMPLEMENTATION.md
  .github/branch-protection-config.md
  .github/workflows/ci.yml
  .husky/pre-commit
  .lintstagedrc.json
  BLARGG_TEST_OPTIMIZATION_REPORT.md
  CLAUDE.md
  eslint.config.js
  jest.config.js
  package.json
  scripts/codegen/changeDetection.ts
  scripts/codegen/checkGenerated.ts
  scripts/codegen/cleanGenerated.ts
  scripts/codegen/generateInstructions.ts
  scripts/codegen/incrementalGeneration.ts
  scripts/codegen/validateTemplates.ts
  scripts/test-performance.js
  src/emulator/cpu/CPU.ts
  src/emulator/debug/GameBoyDoctor.ts
  src/emulator/testing/BlarggTestRunner.ts
  tests/emulator/cpu/CPU.dec-b-bug.test.ts
  tests/emulator/cpu/CPU.interrupt-execution-fix-summary.test.ts
  tests/emulator/cpu/CPU.interrupt-timing-bug.test.ts
  tests/emulator/cpu/CPU.interrupt-timing-dec-b.test.ts
  tests/emulator/cpu/CPU.ldh-if-bug.test.ts
  tests/emulator/cpu/CPU.rom-04-memory-bug.test.ts
  tests/emulator/cpu/CPU.timer-interrupt-ldh.test.ts
  tests/emulator/cpu/CPU.timer-simple.test.ts
  tests/emulator/display/PPUIntegration.test.ts
  tests/emulator/display/PPURenderingPipeline.test.ts
  tests/emulator/display/RenderingPerformance.test.ts
  tests/emulator/integration/BlarggTestRunner.integration.test.ts
  tests/emulator/integration/blargg-comprehensive.test.ts
  tests/emulator/integration/blargg-cpu-instrs.test.ts
Due: eslint --fix, prettier --write, npm run codegen:changes

Clean up repository: remove temporary docs and organize structure
  .github/QUALITY_GATES_IMPLEMENTATION.md
  BLARGG_TEST_OPTIMIZATION_REPORT.md
  CPU_TESTING_STRATEGY.md
  EMULATOR_SUCCESS_REPORT.md
  TEST_OPTIMIZATION_COMPLETE.md
  docs/ARCHITECTURE_COMPLIANCE_REPORT.md
  docs/DESIGN_REVIEW_EXECUTIVE_SUMMARY.md
  docs/IMPLEMENTATION_READINESS_ASSESSMENT.md
  docs/TEAM_DESIGN_REVIEW_COMPLETE.md
  docs/api/PPU_API_REFERENCE.md
  docs/architecture/PPU_TECHNICAL_ARCHITECTURE.md
  docs/decisions/TECHNICAL_DECISION_POINTS.md
  docs/development/ADD_INSTRUCTION_IMPLEMENTATION_WORKFLOW.md
  docs/development/ADD_INSTRUCTION_QUALITY_CHECKLIST.md
  docs/development/LD_INSTRUCTION_QUALITY_CHECKLIST.md
  docs/development/PPU_IMPLEMENTATION_GUIDE.md
  docs/development/missing_bit_analysis.txt
  docs/process/HUMAN_FEEDBACK_FRAMEWORK.md
  docs/research/PERFORMANCE_OPTIMIZATION_REPORT.md
  docs/research/POC_SUMMARY.md
  docs/research/SERIAL_DEBUG_ANALYSIS.md
  docs/testing/ADD_INSTRUCTION_TDD_STRATEGY.md
  docs/testing/LD_INSTRUCTION_TDD_STRATEGY.md
  docs/testing/PHASE_11B_BIT_TDD_STRATEGY.md
  docs/testing/PPU_TESTING_GUIDE.md
  scripts/capture-failures.sh
Due: prettier --write

Fix CI pipeline failures and improve local validation
  .github/workflows/ci.yml
  LICENSES.md
  package.json
Due: prettier --write

Fix license report generation - remove --only=prod flag
  LICENSES.md
  package.json
Due: prettier --write

Update opcode annotations formatting
  tests/emulator/integration/blargg-cpu-instrs.test.ts
Due: eslint --fix, prettier --write
